{% extends 'base.html' %} 
{% block content %}
<div class="home__playlists">
    {% for tour in tours %}

        <div class="playlist mb-5">
            <h3 class="title is-3 has-text-success">{{tour.tour_name}}</h3>
            <hr />

            {% for event in tour.events.all %}

                <div class="song">
                    <span>{{forloop.counter}}</span>

                    <span><b>{{event.location}}</b></span>
                    <span>{{event.get_tour_date}}</span>
                    <span>
                        
                        <a href="{% url 'tour_event_assoc' tour.pk event.pk %}?assoc=remove" class="button is-danger is-outlined">
                        <span class="icon is-small">
                            <i class="fas fa-times"></i>
                        </span>
                        </a>
                    </span>
                </div>

            {% endfor %}
        </div>
    {% empty %} 
        <div class="tour mb-5">"There are no dates in this tour"</div>
    {% endfor %}
</div>
{% endblock %}



