{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{speaker.image}}" alt="{{speaker.name}}" />
</div>
<div class="detail__name">
    {% if speaker.verified_speaker %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>Verified</span>
    </div>
    {% endif %}
    <h1 class="title">{{speaker.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'speakers_update' speaker.pk %}" class="button is-info"> Update
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="/speakers/{{speaker.id}}/delete" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    
    <div class="detail__songs mb-5">
        <h3 class="title is-3">Tour Dates</h3>
        <form class="mb-5" action="{% url 'event_create' speaker.pk %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="title"
                        placeholder="Location"
                        required
                    />
                </div>
    
                <div class="control">
                    <input class="button is-primary" type="submit" value="Request" />
                </div>
            </div>
        </form>
        {% for event in speaker.events.all %}
            <div class="song">
                <span>{{forloop.counter}}</span>
                <span><b>{{event.location}}</b></span>
                <span>{{event.tour_date}}</span>
                <span>{{event.duration}}</span>
            </div>
        {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Dates Available</p>
                </div>
            </article>

        {% endfor %}
    </div>

    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <h5>Topic: {{speaker.topic}}</h5>
        <h5>Description: {{speaker.description}}</h5>
    </div>
</div>

{% endblock %}